$font-text: 'Montserrat', sans-serif;
$font-header: 'Sansita Swashed', cursive;


*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14px;
    line-height: 1.4;
    text-align: center;
}
.col-3 p {
    color:yellow;
    font-family: $font-text;
    font-size: 26px;
}
.row-navigation {
   
        ul {
            list-style-type: none;
            text-align: right;
        
            li {
                display: inline-block;
                margin-right: 36px;
                position: relative;
            
                    a {
                        color: white;
                    }
            }
        }
    }

.splash {
    position: relative;
    background-image: url(https://themothermag.com/wp-content/uploads/2018/01/feng-shui-biurko.jpg);
    background-position: center center;
    background-size: cover;
    padding: 300px 0;
}
.splash-inner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.services {
    
    text-align: center;
    padding: 60px 20px;
    
}
.section-title {
    
    margin: 0;
}
.page-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    font-family: $font-header;
    text-align: center;
}
.page-subtitle {
    font-family: $font-text;
    margin: 24px 0;
    font-weight: 400;
    font-size: 75px;
    color: white;
}
.btn {
    display: relative;
    width: 240px;
    height: 65px;
    margin:24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border: 2px solid;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    
}
.btn-one {
    border-color:#707070;
    color: white;
    background-color: yellow;
    text-align: center;
    font-family: $font-text;
}

h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
    
}

.col-8 {
    padding: 60px;
    font-size: 18px;
    flex: 0 0 33.333%;
    
}

.our-portfolio {
    background-color: whitesmoke;
    padding: 60px 20px;
    margin: 0;
}

p {
    font-size: 14px;
    font-family: $font-header;
    margin: 0;
}
.col-8 i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    color: yellow;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border-width: 4px;
    border-style: solid;
    border-color: yellow;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card {
    padding:40px 0;
    font-size: 18px;
    line-height: 1;
}

.footer-row {
    
    align-items: center;
    list-style: none;
    
}

.col-7 i {
    background: black;
    font-size: 30px;
    width: 60px;
    color: white;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;  
    margin: 0 5px;

}
.col-7 ul {
    display: flex;
    justify-content: center;
    align-items: center;
   
  
}
.col-2 p {
    text-align: right;
    list-style: none;
    
    
}