$font-text: 'Montserrat', sans-serif;
$font-header: 'Sansita Swashed', cursive;


*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14;
    line-height: 1.7;
    text-align: center;
}
.section {
    margin: 0 auto;
    padding: 32px;
    width: 100%;
    padding-left: 480px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        
            li {
                display: inline-block;
                margin-right: 36px;
                position: relative;
            
                    a {
                        color: white
                    }
            }
        }
    }

.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://images.pexels.com/photos/1712/sunglasses-apple-iphone-desk.jpg?auto=compress&cs=tinysrgb&dpr=1&w=500);
    background-position: center center;

}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}
.page-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    font-family: $font-header;
    text-align: center;
}
.page-subtitle {
    font-family: $font-text;
    margin: 24px 0;
    font-weight: 400;
    font-size: 75px;
    color: white;
}
.btn {
    display: flex;
    width: 240px;
    height: 65px;
    margin:24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    background-color: #FED136;
}
.btn-one {
    border-color:#707070;
    color: yellow;
    background-image: linear-gradient(90deg, yellow);
    text-align: center;
    padding: 21px 50px;
    font-family: $font-text;
}
.container {
    max-width: 1500px;
    padding: 70px 20px;
    width:90%;
    margin: 30px auto;
    box-shadow: 2px 2px 5px grey;
}
h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
}
.row {
    display: flex;
   
}
.box {
    padding: 60px;
    font-size: 18px;
    flex: 0 0 30%;
    text-align: center;
    margin-left: 36px; 
}
h2 {
    padding-top: 20px;
}
p {
    font-size: 14px;
    font-family: $font-header;
}
.box i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 60px;
    color: yellow;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
}
.icon-background {
    color: yellow;
}
.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card {
    padding: 60px;
    font-size: 18px;
    
}
.footer {
    margin: 48px 0;

    justify-content: center;
    align-items: center;
}

.col-8 i {
    background: black;
    font-size: 30px;
    width: 60px;
    color: white;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
}
.col-8 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding-left: 0;
}