$font-text: 'Montserrat', sans-serif;
$font-header: 'Sansita Swashed', cursive;


*, *::before, *::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    font-size: 14;
    line-height: 1.7;
    text-align: center;
}
.col-3 p {
    color:yellow;
    font-family: $font-text;
    padding: 24px;
    font-size: 26px;
}
.col-9 {
    margin: 0 auto;
    padding: 30px;
    width: 100%;
    padding-left: 250px;

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
        
            li {
                display: inline-block;
                margin-right: 36px;
                position: relative;
            
                    a {
                        color: white;
                    }
            }
        }
    }

.splash {
    height: 100vh;
    position: relative;
    background-image: url(https://themothermag.com/wp-content/uploads/2018/01/feng-shui-biurko.jpg);
    background-position: center center;
    background-size: cover;

}
.splash-inner {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}
.services {
    background-color: whitesmoke;
    text-align: center;
    padding: 96px;
    
}
.page-title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.2;
    color: white;
    font-family: $font-header;
    text-align: center;
}
.page-subtitle {
    font-family: $font-text;
    margin: 24px 0;
    font-weight: 400;
    font-size: 75px;
    color: white;
}
.btn {
    display: flex;
    width: 240px;
    height: 65px;
    margin:24px auto 0 auto;
    padding: 16px;
    border-radius: 5px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    border-width: 2px;
    border-style: solid;
    background-position: 100% 0;
    background-size: 300%;
    background-color: #FED136;
}
.btn-one {
    border-color:#707070;
    color: yellow;
    background-image: linear-gradient(90deg, yellow);
    text-align: center;
    padding: 21px 50px;
    font-family: $font-text;
}
.container {
    
    width: 100%;
    margin: 0px auto;
    
}
h1 {
    font-size: 40px;
    margin: 0 0 10px 0;
    
}
.row {
    display: flex;
    padding: 30px;
}
.box {
    padding: 60px;
    font-size: 18px;
    flex: 0 0 33.333%;
    
}
.our-portfolio {

    padding-top: 70px;
}
h2 {
    padding-top: 20px;
}
p {
    font-size: 14px;
    font-family: $font-header;
}
.box i {
    font-size: 30px;
    width: 60px;
    height: 60px;
    line-height: 50px;
    color: yellow;
    border-radius: 50%;
    text-align: center;
    display: inline-block;
    border-width: 4px;
    border-style: solid;
    border-color: yellow;
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}
.card {
    padding: 0;
    font-size: 18px;
    margin: 18px 16px;
  
}

.footer {
    margin: 24px 0;
    align-items: center;
}

.col-10 i {
    background: black;
    font-size: 30px;
    width: 60px;
    color: white;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;   
}
.col-10 ul {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  
}
